<div class = "footer">
  <small>Developed by Anietie
    <div>
      <a href = "https://www.twitter.com/caanietie">
        <%= image_tag "twitter.svg", size: "20x20" %>
      </a>
      <span>|</span>
      <a href = "https://www.github.com/caanietie">
        <%= image_tag "github.svg", size: "20x20" %>
      </a>
    </div>
  </small>
</div>